exportPattern("^[[:alpha:]]+")
importFrom("stats", "ave")
importFrom("utils", "read.csv")
importFrom("utils", "data")
importFrom("utils", "combn")
#import("library")
import("Biostrings")
import("BSgenome.Hsapiens.UCSC.hg19")
#import("BSgenome.Ptroglodytes.UCSC.panTro5")
importFrom("utils", "flush.console", "read.table", "write.table")
